body{
    margin: 0;
}

h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

#fota{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tlo{
    width: 100%;
    height: 300px;
    background-color: #FFB00D;
    
}

main{
    height: 750px;
    width: 100%-50px;
    background-color: #FCF2CB;
    padding: 50px;
}

